<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>


    <body class="main-content">
        {{>header}}
        <p>THis site is created by Hamed.It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/blur-blurry-coffee-273222.jpg">
        
    </body>
    {{>footer}}


</html>